<div class="topnav">
  <a >
    <select class="language resize" #langauge (change)="translateSite(langauge.value)">
      <option class="language" *ngFor="let localization of translateService.getLangs()" [value]="localization">
        {{ localization }}
      </option>
    </select>
  </a>
  <a [routerLink]="['about']"  [routerLinkActive] = "['activeClass']">{{'about' | translate}}</a>
  <a [routerLink]="['buildings']"  [routerLinkActive] = "['activeClass']">{{'buildings' | translate}}</a>
  <a [routerLink]="['home']" [routerLinkActive] = "['activeClass']" >{{'home' | translate}}</a>

</div>
